mixin player(player)
    img(src=player.avatarURL)
    h2 Player's ID
    h4= player.playerID
    h2 Player's nickname
    span= player.playerNickName
    br
    h2 Player's group
    span= player.playerGroup