extends base
include ./mixins/player 
include ./mixins/chat

block content 
    form(method="GET" action="")
        input(name="playerID", placeholder="Search by ID", required)
        input(value="Search", type="submit")

    if playerErr != ""
        h2=playerErr 
    else 
        if player
            +player(player)
        hr

    if chatErr != ""
        h2=chatErr 
    else 
        if chats
            h3 Chat history
            each chat in chats
                +chat(chat)